<a href="https://colab.research.google.com/github/ash030889/python/blob/main/Dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
dict1 = {'name' : 'mona', 'age' : 17}
print(dict1)

{'name': 'mona', 'age': 17}

In [3]:
print(dict1.get('name')) #access with get()

mona

In [5]:
print(dict1.get('age'))

17

In [7]:
dict1['name']  #access with key

'mona'

In [8]:
dict1['class'] = 12 #adding element
print(dict1)

{'name': 'mona', 'age': 17, 'class': 12}

In [9]:
for x in dict1: #for loop (print one by one key)
  print(x)

name
age
class

In [14]:
for x in dict1:    #for loop (print one by one value)
  print(dict1.get(x))

mona
17
12

In [15]:
#create nested dictionaries
family = {
    'child1' : {
        'name' : 'meena',
        'age'  : 12
    },
    'child2' : {
        'name' : 'ritu',
        'age'  : 8
    }
}
print(family)

{'child1': {'name': 'meena', 'age': 12}, 'child2': {'name': 'ritu', 'age': 8}}

In [16]:
#3 three dictionaries in one dictionary
stu1 = {
    'name' : 'raj',
    'class' : 10
}
stu2 = {
    'name' : 'ritu',
    'class' : 8
}
stu3 = {
    'name' : 'max',
    'class' : 5
}
school = {
    'stu1' : stu1,
    'stu2' : stu2,
    'stu3' : stu3
}
print(school)

{'stu1': {'name': 'raj', 'class': 10}, 'stu2': {'name': 'ritu', 'class': 8}, 'stu3': {'name': 'max', 'class': 5}}